<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - cms</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Bootstrap -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <script src="/js/jquery-1.11.3.min.js"></script>

    <!-- Google Web Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,700italic,900,900italic" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,100,300,100italic,300italic,400italic,500,500italic,700,700italic,900,900italic" rel="stylesheet" type="text/css">

    <!-- Template CSS Files  -->
    <link href="/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="/js/plugins/camera/css/camera.css" rel="stylesheet">
    <link href="/js/plugins/magnific-popup/magnific-popup.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/responsive.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Fav and touch icons -->

    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/images/fav-144.html">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/images/fav-114.html">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/images/fav-72.html">
    <link rel="apple-touch-icon-precomposed" href="/images/fav-57.html">
    <link rel="shortcut icon" href="/images/fav.html">

</head>
<body>
    <!-- Header Starts -->
    <header class="main-header">
        <!-- Nested Container Starts -->
        <div class="container">
            <!-- Top Bar Starts -->
            <div class="top-bar hidden-sm hidden-xs">
                <div class="row">
                    <div class="col-sm-6 col-xs-12">
                        <span>Opening Hours:</span>  Mon To Fri - 9:00 - 20:00, Sat &amp; Sun - 10:00 - 15:00
                    </div>
                    <div class="col-sm-6 col-xs-12">
                        <ul class="list-unstyled list-inline">
                            <li>
                                <a href="mailto:care@yourhosptialsname.com">
                                    <i class="fa fa-envelope-o"></i>
                                    care@yourhosptialsname.com
                                </a>
                            </li>
                            <li><i class="fa fa-phone"></i> Call Us: 1-800-123-4567</li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- Top Bar Ends -->
            <!-- Navbar Starts -->
            <nav id="nav" class="navbar navbar-default" role="navigation">
                <div class="container-fluid">
                    <!-- Navbar Header Starts -->
                    <div class="navbar-header">
                        <!-- Collapse Button Starts -->
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <!-- Collapse Button Ends -->
                        <!-- Logo Starts -->
                        <a href="/" class="navbar-brand">
                            <i class="fa fa-heartbeat"></i>
                            Hospitals
                        </a>
                        <!-- Logo Ends -->
                    </div>
                    <!-- Navbar Header Ends -->
                    <!-- Navbar Collapse Starts -->
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="/">Home</a></li>
                            <li><a href="/cms/about">About</a></li>
                            <li><a href="/cms/services">Services</a></li>
                            <li><a href="/cms/doctors">Doctors</a></li>
                            <li><a href="/cms/faqs">FAQ</a></li>
                            <li><a href="/cms/contact">Contact</a></li>
                            <li><a href="/Account/Login">Portal</a></li>
                        </ul>
                    </div>
                    <!-- Navbar Collapse Ends -->
                </div>
            </nav>
            <!-- Navbar Ends -->
        </div>
        <!-- Nested Container Ends -->
    </header>
    <!-- Header Ends -->


    @if (ViewData["Title"] != "Home Page")
    {    <!-- Main Banner Starts -->
        <div class="main-banner one">
            <div class="container">
                <h2><span>@ViewData["Title"]</span></h2>
            </div>
        </div>
        <!-- Main Banner Ends -->
        <!-- Breadcrumb Starts -->
        <div class="breadcrumb">
            <div class="container">
                <ul class="list-unstyled list-inline">
                    <li><a href="/">Home</a></li>
                    <li class="active">@ViewData["Title"]</li>
                </ul>
            </div>
        </div>
        <!-- Breadcrumb Ends -->
    }
    @RenderBody()


    <!-- Footer Starts -->
    <footer class="main-footer">
        <!-- Footer Area Starts -->
        <div class="footer-area">
            <!-- Nested Container Starts -->
            <div class="container">
                <div class="row">
                    <!-- Hosptial Information Starts -->
                    <div class="col-md-3 col-sm-4 col-xs-12">
                        <h4>Hosptial Information</h4>
                        <p>
                            Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including.
                        </p>
                        <ul class="list-unstyled address-list">
                            <li class="clearfix address">
                                <i class="fa fa-home"></i>
                                Shilparamam Lonsdale St. Marks Road, Talay Victoria 8011 London.
                            </li>
                            <li class="clearfix">
                                <i class="fa fa-fax"></i>
                                001 - 785 987 1234
                            </li>
                            <li class="clearfix">
                                <i class="fa fa-phone"></i>
                                001 - 123 478 5987
                            </li>
                            <li class="clearfix">
                                <i class="fa fa-envelope"></i>
                                <a href="mailto:info@yourhospitalsite.com">info@yourhospitalsite.com</a>
                            </li>
                        </ul>
                    </div>
                    <!-- Hosptial Information Ends -->
                    <!-- Services Starts -->
                    <div class="col-md-2 col-sm-4 col-xs-12">
                        <h4>Services</h4>
                        <ul class="list-unstyled">
                            <li><a href="#"><i class="fa fa-angle-right"></i> Pediatric Clinic</a></li>
                            <li><a href="#"><i class="fa fa-angle-right"></i> Diagnosis Clinic</a></li>
                            <li><a href="#"><i class="fa fa-angle-right"></i> Cardiac Clinic</a></li>
                            <li><a href="#"><i class="fa fa-angle-right"></i> Laboratory Analysis</a></li>
                            <li><a href="#"><i class="fa fa-angle-right"></i> Dental Clinic</a></li>
                            <li><a href="#"><i class="fa fa-angle-right"></i> Gynecological Clinic</a></li>
                            <li><a href="#"><i class="fa fa-angle-right"></i> Psychological</a></li>
                        </ul>
                    </div>
                    <!-- Services Ends -->
                    <!-- Twitter Starts -->
                    <div class="col-md-3 col-sm-4 col-xs-12">
                        <h4>Twitter</h4>
                        <ul class="list-unstyled tweets-list">
                            <li>
                                <i class="fa fa-twitter"></i>
                                Our Hospitals Website Launched.
                                <a href="#">http://t.co/xyz12abc</a>
                            </li>
                            <li>
                                <i class="fa fa-twitter"></i>
                                Our Hospitals Twitter Page, please follow.
                                <a href="#">http://t.co/testlink</a>
                            </li>
                            <li>
                                <i class="fa fa-twitter"></i>
                                Our Hospitals Facebook Page, please like.
                                <a href="#">http://t.co/abc123link</a>
                            </li>
                            <li>
                                <i class="fa fa-twitter"></i>
                                Our Hospitals Broucher Launched.
                                <a href="#">http://t.co/xyz-test1</a>
                            </li>
                        </ul>
                    </div>
                    <!-- Twitter Ends -->
                    <!-- Signup Newsletter Starts -->
                    <div class="col-md-4 col-xs-12 newsletter-block">
                        <h4>Signup Newsletter</h4>
                        <form action="#" class="newsletter">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Your Name">
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control" placeholder="Enter your Email Address">
                            </div>
                            <button type="submit" class="btn btn-lg btn-block btn-secondary">Submit</button>
                        </form>
                    </div>
                    <!-- Signup Newsletter Ends -->
                </div>
            </div>
            <!-- Nested Container Ends -->
        </div>
        <!-- Footer Area Ends -->
        <!-- Copyright Starts -->
        <div class="copyright">
            <div class="container clearfix">
                <p class="pull-left">
                    &copy; Copyright 2015. AlL Rights Reserved By <span>Hosptials</span>
                </p>
                <ul class="list-unstyled list-inline pull-right">
                    <li><a href="#">Terms Of Services</a></li>
                    <li><a href="#">Privacy</a></li>
                    <li><a href="contact">Contact Us</a></li>
                </ul>
            </div>
        </div>
        <!-- Copyright Ends -->
    </footer>
    <!-- Footer Ends -->
    <!-- Template JS Files -->
    <script src="/js/jquery-migrate-1.2.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/plugins/camera/js/jquery.mobile.customized.min.js"></script>
    <script src="/js/plugins/camera/js/jquery.easing.1.3.js"></script>
    <script src="/js/plugins/camera/js/camera.min.js"></script>
    <script src="/js/plugins/shuffle/jquery.shuffle.modernizr.min.js"></script>
    <script src="/js/plugins/magnific-popup/jquery.magnific-popup.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js"></script>
    <script src="/js/custom.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
